<div>
    <a href="#">修改头像</a>
</div>
</div>
</div>
</nav>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <ul class="panel-heading" style="height: 40px">
        <li style="list-style: none;float: left">我的帖子</li>
        <li style="list-style: none;float: right">我要发帖</li>
    </ul>
    <!-- Table -->
    <table class="table">
        <tr>
            <td>#</td>
            <td>标题</td>
            <td>内容</td>
        </tr>
        <tr>
            <td>1</td>
            <td>{{ post.user.title }}</td>
            <td>{{ post.content }}</td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <nav aria-label="Page navigation" style="margin-left:550px ">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</nav>

</body>
</html>